:root{
    /*Primary colors of the UI*/
    --PaleViolet : hsl(276, 100%, 81%); /*sub-heading at the top of the app UI*/
    --ModerateViolet : hsl(276, 55%, 52%); /*chat on the left*/
    --DesaturatedDarkViolet : hsl(271, 15%, 43%); /*chat on the right*/
    --GrayishBlue : hsl(206, 6%, 79%); /*placeholder text*/
    --VeryDarkDesaturatedViolet : hsl(271, 36%, 24%); /*main heading*/
    --DarkGrayishViolet : hsl(270, 7%, 64%); /*paragraph*/

    /*Colors for the gradient designs*/
    --LightMagenta: hsl(293, 100%, 63%);
    --LightViolet: hsl(264, 100%, 61%);

    /*Colors for other elements*/
    --GrayishWhite : hsl(0, 0%, 98%); /*Page background*/
    --White : hsl(0, 0%, 100%); /*Device border*/
    --LightGrayishViolet : hsl(270, 20%, 96%); /*app background*/
    --VeryDarkDesaturatedViolet : hsl(271, 36%, 24%); /*submit button background*/
    --VeryLightMagenta : hsl(289, 100%, 72%); /*radio button outline*/
}

/*Fonts*/
@font-face{
    font-family:'Rubik400';
    src: url('./assets/font/Rubik-Regular-400.ttf');
    font-style:normal;
}
@font-face{
    font-family:'Rubik500';
    src: url('./assets/font/Rubik-Medium-500.ttf');
    font-style:normal;
}
@font-face{
    font-family:'Rubik700';
    src: url('./assets/font/Rubik-Bold-700.ttf');
    font-style:normal;
}

*{
    margin:0;
    padding:0;
}
.app{
    height:100vh;
    width:100vw;
    background-color: var(--GrayishWhite);
}
.top-shape,.bottom-shape{
    position:absolute;
    height:55vh;
    width:50vw;
    z-index:1 !important;
}
.top-shape{
    top:0;
    left:0;
    background: linear-gradient(180deg, var(--LightMagenta) 0%, var(--LightViolet) 100%);
    border-radius:0rem 0rem 1000rem 0rem;
}
.bottom-shape{
    bottom:0;
    right:0;
    background: linear-gradient(180deg, var(--LightMagenta) 0%, var(--LightViolet) 100%);
    border-radius:1000rem 0rem 0rem 0rem;
    opacity:5%;
}
.wrapper-row{
    width:100% !important;
    flex-direction: column;
    height:100vh;
    z-index:100 !important;
}
.app-border{
    flex:65%;
    height:70vh;
    background-color: rgb(174, 221, 87);
}
.text-wrapper{
    flex:35%;
    height:20vh;
}
/*CSS for app wrapper in mobile*/
.app-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-wrapper{
    justify-content: center;
}

/*CSS for texts on desktop*/
.app-title{
    font-family:'Rubik500';
    text-align: center;
    font-size:2.5rem;
    color:var(--VeryDarkDesaturatedViolet);
}
.app-desc{
    margin:1rem 0rem;
    font-family:'Rubik400';
    text-align: center;
    font-size:1rem;
    color:var(--DarkGrayishViolet);
}

/*CSS for app UI on mobile*/
.app-border{
    align-items: center;
    justify-content: center;
}
.app-ui{
    height:90%;
    width:75%;
    background-color:var(--White);
    border-radius:2.5rem;
    padding:0.8rem;
}
.app-body{
    height:100%;
    width:100%;
    background-color:var(--LightGrayishViolet);
    border-radius: 1.5rem;
    align-items: center;
}
.ui-notch{
    width:50%;
    height:5%;
    background-color: var(--White);
    border-radius:0rem 0rem 1rem 1rem;
    z-index:10;
}
.ui-header{
    width:100%;
    height:20%;
    background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
    margin-top:-1.2rem;
    border-radius:1.8rem 1.8rem 0.5rem 0.5rem;
}
.ui-content{
    width:100%;
    height:100%;
    background-color:var(--LightGrayishViolet);
    border-radius:0rem 0rem 1.8rem 1.8rem;
}

@media only screen and (min-width:768px){
    .app{
        background-color: var(--GrayishWhite);
    }
    .wrapper-row{
        width:100% !important;
        flex-direction: row;
        align-items: center;
    }
    /*CSS for app wrapper in tablet*/
    .app-wrapper{
        flex-direction: row;
        align-items: center;
    }
    .app-border{
        flex:50%;
        height:80vh;
    }
    .text-wrapper{
        flex:50%;
        height:80vh;
    }

    /*CSS for texts on tablet*/
    .app-title{
        text-align: left;
    }
    .app-desc{
        text-align: justify;
    }
}

@media only screen and (min-width:1280px){
    .app{
        background-color: var(--GrayishWhite);
    }
    .top-shape,.bottom-shape{
        height:80vh;
        width:33vw;
        background-color:black;
    }
    .top-shape{
        border-radius:0rem 0rem 100rem 100rem;
    }
    .bottom-shape{
        width:25vw;
        border-radius:1000rem 0rem 0rem 0rem;
    }
    .wrapper-row{
        width:100% !important;
        flex-direction: row;
    }
    /*CSS for app wrapper in dekstop*/
    .app-wrapper{
        flex-direction: row;
        align-items: center;
    }

    .text-wrapper{
        justify-content: center;
    }

    /*CSS for texts on desktop*/
    .app-title{
        text-align: left;
    }
    .app-desc{
        width:70%;
    }

    /*CSS for app UI on desktop*/
    .app-border{
        align-items: center;
        justify-content: center;
    }
    .app-ui{
        height:90%;
        width:55%;
        background-color:var(--White);
        border-radius:3.5rem;
        padding:1.1rem;
    }
    .app-body{
        height:100%;
        width:100%;
        background-color:var(--LightGrayishViolet);
        border-radius: 3rem;
        align-items: center;
    }
    .ui-notch{
        width:50%;
        height:5%;
        background-color: var(--White);
        
        border-radius:0rem 0rem 1rem 1rem;
        z-index:10;
    }
    .ui-header{
        width:100%;
        height:20%;
        background: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
        margin-top:-1.6rem;
        border-radius:2.5rem 2.5rem 1rem 1rem;
    }
    .ui-content{
        width:100%;
        height:100%;
        background-color:var(--LightGrayishViolet);
        border-radius:0rem 0rem 2.5rem 2.5rem;
    }
}